@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*  
========== CSS INDEXING START HERE ========== 
IMPORT FILES  
VARIABLES
GENERAL
TYPOGRAPHY  
========== CSS INDEXING End HERE ==========
*/
/* ==================================== IMPORT FILES ==================================== */
/* raleway-300 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/raleway-v28-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v28-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/raleway-v28-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/raleway-v28-latin-300.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/raleway-v28-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/raleway-v28-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/raleway-v28-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/raleway-v28-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/raleway-v28-latin-regular.svg#Raleway')
            format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v28-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v28-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/raleway-v28-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/raleway-v28-latin-500.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/raleway-v28-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/raleway-v28-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway-v28-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v28-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/raleway-v28-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/raleway-v28-latin-600.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/raleway-v28-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/raleway-v28-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/raleway-v28-latin-700.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/raleway-v28-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/raleway-v28-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/raleway-v28-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v28-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/raleway-v28-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/raleway-v28-latin-800.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/raleway-v28-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/raleway-v28-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v28-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v28-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/raleway-v28-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/raleway-v28-latin-900.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/raleway-v28-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/raleway-v28-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

/*==================================== VARIABLES ====================================*/
:root {
    --first-font: 'Raleway';
    --black-text: #1c1c1c;
    --light-pink-f2: #f2ebe7;
    --orange-f5: #f57e57;
    --white-bg: #e5e5e5;
    --white: #ffffff;
    --black: #000000;
    --btn-color: #b39776;
    --h1: normal 500 80px/80px var(--first-font);
    --h2: normal 800 36px/50px var(--first-font);
    --h3: normal 400 25px/25px var(--first-font);
    --h4: normal 700 20px/23px var(--first-font);
    --h5: normal 700 18px/18px var(--first-font);
    --h6: normal 400 14px/30px var(--first-font);
    /* --p: normal 500 14px/29px var(--first-font); */
}
*,
:after,
:before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: inherit;
    vertical-align: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html {
    outline: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    color: var(--black-text);
    line-height: 24px;
    font-size: 16px;
    font-family: var(--first-font);
    font-weight: normal;
    margin: 0;
    padding: 0;
}
svg,
img {
    max-width: 100%;
    display: block;
}
body::-webkit-scrollbar {
    display: none;
}
body.active-menu {
    overflow: hidden;
    touch-action: none;
}
img {
    max-width: 100%;
    display: block;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select,
textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    outline: none;
    resize: none;
    font-family: var(--first-font);
}
a,
a:focus,
button,
button:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    color: inherit;
}
a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
span {
    display: block;
}
::selection {
    background: rgba(166, 175, 189, 0.3);
}
::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
p:not(:last-of-type) {
    margin-bottom: 20px;
}
.black-bg {
    background: var(--black);
}
.light-bg {
    background: var(--light-blue);
}
/* ==================================== TYPOGRAPHY ==================================== */
h1,
.h1 {
    font: var(--h1);
}
h2,
.h2 {
    font: var(--h2);
}
h3,
.h3 {
    font: var(--h3);
}
h4,
.h4 {
    font: var(--h4);
}
h5,
.h5 {
    font: var(--h5);
}
h6,
.h6 {
    font: var(--h6);
}
.p,
p {
    font: var(--p);
}
/*====================================  HELPING CLASSES ====================================*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
.offset-left {
    margin-left: calc((100% - 1720 px) / 2);
}
.overflow-hidden,
.scrollno {
    overflow: hidden;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.row > [class*='col-'] {
    padding: 0 15px;
}
.no-gutters {
    margin: 0 !important;
}
.no-gutters > [class*='col-'] {
    padding: 0 !important;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-center {
    align-items: center;
}
.align-baseline {
    align-items: baseline;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.direction-column {
    flex-direction: column;
}
.no-wrap {
    flex-wrap: nowrap;
}
.mobile-only {
    display: none;
}
.bg-pink {
    background: var(--pink);
}
.bg-gold {
    background: var(--gold);
}
/************************************* COMMON BUTTON CSS **************************************/

button,
.btn {
    width: 100%;
    text-align: center;
    font: var(--h5);
    padding: 6px 28px;
    letter-spacing: 0;
    color: var(--white);
    background-color: var(--btn-color);
    box-shadow: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn span {
    font: normal 600 11px/16px var(--first-font);
    display: block;
}
.btn-secondary {
    font: normal bold 20px/30px var(--first-font);
    padding: 9px 39px;
}
.btn-secondary span {
    line-height: 18px;
    font-size: 12px;
}
button:hover,
.btn:hover,
.btn:focus {
    color: var(--white);
    background-color: var(--black);
}

/*==================================== SLICK SLIDER START ====================================*/

/*==================================== COMMON CSS ====================================*/

.red-text {
    color: var(--theme-color);
    display: inline;
}
.white-text {
    color: var(--white) !important;
}
.dark-text {
    color: #222222 !important;
}
/* ----------------CARD -------------------- */
.card-row {
    margin: 0 -20px;
}
.card-col {
    position: relative;
    padding: 20px;
    width: 33.33%;
    cursor: pointer;
    margin: 20px 0;
}
.card-col:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 5px solid #8d7979;
    content: '';
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}
.card-col:hover.card-col::after {
    opacity: 1;
    visibility: visible;
}
.card-img {
    overflow: hidden;
    position: relative;
}
.card-img img {
    width: 100%;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.whishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px !important;
    height: 35px;
    z-index: 5;
    border-radius: 50%;
    background-color: #fff;
    background-image: linear-gradient(45deg, #dd7b7b, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 1s infinite alternate;
}
.plant-img {
    width: 20px !important;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.card-img h5 {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: rgb(202 255 218);
    opacity: 0;
    visibility: hidden;
    font-family: cursive;
    transition: all 0.3s ease-in-out;
}
.card-img h5::after,
.card-img h5::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
    transition: all 0.7s ease-in-out;
}

.card-img h5::before {
    width: 100%;
    bottom: -20px;
}
.card-col:hover .card-img h5::before {
    width: 0;
}
.card-col:hover .card-img h5::after {
    width: 100%;
}
.card-col:hover .card-overlay {
    opacity: 0.7;
    visibility: visible;
}
.card-col:hover .card-img h5 {
    opacity: 1;
    visibility: visible;
}

.card-col:hover .card-img img {
    transform: scale(1.1);
}
/* ANIMATION-START */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* ANIMATION-END */

/* RESPONSIVE__START */
@media only screen and (max-width: 1024px) {
    .card-col {
        width: 50%;
    }
    .card-img h5 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 575px) {
    .card-col {
        width: 100%;
    }
}
/* RESPONSIVE__END */
