@font-face {
    font-family: 'Basier Square';
    src: url('BasierSquare-Regular.eot');
    src: url('BasierSquare-Regular.eot?#iefix') format('embedded-opentype'),
        url('BasierSquare-Regular.woff2') format('woff2'),
        url('BasierSquare-Regular.woff') format('woff'),
        url('BasierSquare-Regular.ttf') format('truetype'),
        url('BasierSquare-Regular.svg#BasierSquare-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

